[submodule "spec/fixtures/modules/concat"]
	path = spec/fixtures/modules/concat
	url = git://github.com/ripienaar/puppet-concat.git
[submodule "spec/fixtures/modules/apt"]
	path = spec/fixtures/modules/apt
	url = git://github.com/puppetlabs/puppet-apt.git
[submodule "spec/fixtures/modules/stdlib"]
	path = spec/fixtures/modules/stdlib
	url = git://github.com/puppetlabs/puppetlabs-stdlib.git
